<div class="col mt-4">
    <div class="card">
        <div class="card-header">
            <h4>User's repositories</h4>
            <div class="card-body">
           <!--     <ul class="list-group" index="i">
                    <li *ngFor="let repo of githubRepos" class="list-group-item">
                    Repo Name:{{githubRepo.name}}
                    </li>
                    <li class="list-group-item">
                    Repo url:{{repo.html_url}}
                    </li> 
            </ul> -->
            {{githubRepos}}
            </div>
        </div>
    </div>