<div class="col md-6">
    <div class="card">
        <div class="card-header">
            <h4>User's repositories</h4>
            <div class="card-body">
               <!-- <li *ngFor="let repo of githubRepos" class="list-group-item">
                    Repo Name:{{repo.name}}
                </li>
                <li class="list-group-item">
                    Repo url:{{repo.html_url}}
                </li> 
            </ul> -->
            {{githubRepos}}
            </div>
        </div>
    </div>