<div class="container mt-4">
  <div class="row">
    <div class="col md-3">
      <div class="card">
        <div class="card-header"> 
          <h4>Github User and Repo Search</h4>
        </div>
        <div class="card-body">
          <form class="form-inline" (submit)="searchUserInfo()">
            <div class="form-group">
                <input [(ngModel)]="githubUserQuery" name="user" type="search" class="form-control" placeholder="Github user">
            </div>
            <div>
                <input  size="40" type="submit" value="search" class="btn btn-secondary btn-sm">
            </div>
        </form>
      </div>
      <!--testing -->
      <div>
        {{githubProfile.name}}
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-display [githubProfile]= "githubProfile"></app-display>
    </div>
  </div>
</div>

